/* General Settings */
@font-face {
    font-family: "Press Start";
    src: url("../font/prstartk.ttf") format("woff");
}

@media (min-width: 576px){
    .container{
        max-width: 960px;
    }
}

body{
    font-family: "Press Start";
    color:white;
    font-size:12px;
    background-color: rgb(32, 32, 32);
    text-shadow: 1px 1px 1px black;
}

.wrapper{
    width: 50rem;
    height:auto;
    margin: auto;
    padding:0;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px 35px auto;
}

/* Header including coromon and Romsh logo */
.header{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:auto;

    border-width:16px;
    border-style:solid;
    border-image: url("../images/Coromon_Box_2px.png");
    border-image-slice: 8 fill;
    border-width: 8px;
    position: relative;
}

.logoCoromon{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 1;
    grid-column: 2/3;

    text-align: center;
}

.logoCoromon img{
    object-fit: contain;
    width:30%;
    margin:auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoRomsh{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-start: 1;

    width: auto;
    margin: auto;
    margin-left:50px;
    text-align: center;

}
.logoRomsh img{
    width:50px;
    height:50px;
    object-fit: contain;
}




/* Coromon github app menu */

.navigator{
    grid-column: 1;
    grid-row: 2;
    margin:0;
    padding:0;
}

.navigator ul{
    padding:0 0 0 0;
    margin:0;
    display:flex;
    list-style:none;
}

.navigator ul li{
    display:inline-block;
    padding-left:5px;
    border-style:solid;
    border-image: url("../images/Coromon_box_2px.png");
    border-image-slice: 8 fill;
    border-width:8px;
    position: relative;
    margin-left:0;
}

.navigator ul a{
    color:white;
    outline: none;
    text-decoration: none;
}




/*  Main body of the website */
/* Container is all the main body */
.container{
    padding:10px;
    grid-column: 1;
    grid-row: 3;
    width:100%;
}

/* All the box for the formn, including input and buttons*/
.form{
    width:36rem;
    display:flex;
    margin: auto;
}

.form label{
    width: 70%;
}

.mainBox{
    text-align: center;
    width:33rem;
    padding-bottom:5px;
    margin:auto;

    border-style:solid;
    border-image: url("../images/grey_box.png");
    border-image-slice: 6 fill;
    border-width:6px;
}

.inputCoromon{
    width:98%;
    border-radius: 3px;
    background-color:#0b0f25;
    color:white;
    font-family: "Press Start";
    border-color: none;
}

.inputCoromon:focus{
    outline: none;
}

.buttons{
    width:2.5rem;
}

.buttons button{
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin:2px;
    background-color: rgb(32, 32, 32);
}

.reset{
    border-style:solid;
    border-image: url("../images/Red_box_1px.png");
    border-image-slice: 4 fill;
    border-width:4px;
}

.submit{
    border-style:solid;
    border-image: url("../images/coromon_box_1px.png");
    border-image-slice: 4 fill;
    border-width:4px;
}

/* Error modal displayed when trying to enter wrong things */
#outerError{
    margin-left:7rem;
    text-align: center;
    width:66.6%;
    display:none;
}

.errorModal{
    margin-top: 2px;
    border-style:solid;
    border-image: url("../images/grey_box_fancy.png");
    border-image-slice: 8 fill;
    border-width:8px;
    display:inline-block;
}

.errorModal span{
    display:inline-block;
    background-color:#0b0f25;
    height:0.9rem;
    border-width:1px;
    border-radius: 3px;
    border-color: rgb(184, 184, 184);
    border-style: solid;
    color:red;
    font-family: "Press Start";
    padding-top:0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}


/* Responsible of the toggle modal showing searched coromon and the list of places */

.responseModal{
    width: 33.5rem;
    height: 30rem;
    margin-left:7rem;
    margin-top: 5px;
    display:none;
    /* display:block; */
}

/*Identification of Coromon (to be hide)*/
.idCard{
    border-style:solid;
    border-image: url("../images/grey_box_fancy.png");
    border-image-slice: 8 fill;
    border-width:8px;
}

/* Sprites of Coromons */
.idCard img{
    width: 100%;
    height:auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

.coromonNormal, .coromonPotent, .coromonPerfect{
    width: 120px;
    height: 120px;
    display:inline-block;
    border-style:solid;
    text-align:center;

    border-image: url("../images/coromon_box_2px.png");
    border-image-slice: 8 fill;
    border-width:8px;
    position: relative;
}

.sprites{
    margin:auto;
    width:fit-content;
}

/* Identification of coromons */
.names{
    width: 26.5rem;
    margin:auto;
}

.names div{
    margin-top:8px;
    margin-bottom:15px;
}

.names div:last-child{
    margin-top:8px;
    margin-bottom:8px;
}

.names label{
    width: 90px;
    padding: 2px 2px 2px 2px;
    border-style:solid;
    border-image: url("../images/coromon_box_1px.png");
    border-image-slice: 4 fill;
    border-width:4px;
}

.idLabel{
    margin-right: 32px;
}

.nameLabel{
    margin-right: 18px;
}

.wikiLabel{
    margin-right: 8px;
}

.names span{
    color: #ebbf26;
    padding:0;
    margin:0;
}

.names a{
    color: #ebbf26;
    text-decoration: none;
}



/* List of location sorted by spawn rate (to be hide) */
.locationList{
    margin-top:5px;
    border-style:solid;
    border-image: url("../images/grey_slim_2px.png");
    border-image-slice: 14 fill;
    border-width:14px;
}

.locationList ul{
    list-style-type: none;
    margin:0;
    padding: 2px;
    padding-bottom:0;
    background-color:rgb(19, 19, 19);
    font-size: 10px;
    min-height: 5rem;
}

.locationList ul:last-child{
    list-style-type: none;
    margin:0;
    padding: 2px;
    padding-bottom:2px;
    background-color:rgb(19, 19, 19);
    font-size: 10px;
}

.locationList ul li{
    background-color:#08115c;
    border-top: 2px solid #052f72;
    border-bottom: 2px solid #052f72;
    height: 5rem;
    position: relative;
}

.locationList ul li label{
    width: 4rem;
}

.locationList ul li .labelPosition{
    width: 7em;
}

.locationList ul li .idLocation, .locationList ul li .idRate{
    display:inline-block;
    color: #ebbf26;
}

.locationList ul li .idLocation{
    width: 13rem;
}

.locationList ul li .idName{
    display:inline-block;
    width: 24rem;
    color: #ebbf26;
}

.locationList ul li .idPosition{
    color: #ebbf26;
}

.locationList ul li{
    height: 3.5rem;
    margin-bottom:2px;
}

.locationList ul li:last-child{
    background-color:#08115c;
    border-top: 2px solid #052f72;
    border-bottom: 2px solid #052f72;
    height: 3.5rem;
    margin-bottom:0;
}

.locationList ul li:hover{
    background-color:#1648ff;
    border-top: 2px solid #33c5ff;
    border-bottom: 2px solid #33c5ff;
    height: 3.5rem;
    margin-bottom:2px;
}

.locationList ul li:last-child:hover{
    background-color:#1648ff;
    border-top: 2px solid #33c5ff;
    border-bottom: 2px solid #33c5ff;
    height: 3.5rem;
    margin-bottom:0;
}

.locationList ul li.title{
    border:none;
    background-color: #252129;
    height: 3rem;
    margin-bottom:2px;
    position: relative;
    font-size: 12px;
}

.locationList ul li.title span{
    display:block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.locationList .content{
    width:29rem;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}